@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #505050;
  background-color: lightgray;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

h1 {
 font-size: 40px;
 padding-bottom: 30px;
}

.container-circle {
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 200px 200px;
  width: 200;
  height: 200;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
}

.circle {
  width: 200px;
  height: 200px;
  border: 2px solid black;
}

.customBut {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #333;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #333;
  text-align: center;
  transition: all 0.15s;
  background-color:rgba(0,0,0,0);
}

#sound {
  width: 64;
  height: 64;
  position: absolute;
  top: 25px;
  left: 25px;
}

#slide-container {
  /* The display is hidden at the start  because by default the sound is muted */
  display: none; 
  position: absolute;
  top: 30px;
  left: 65px;
}

#start {
  background-color: #d3d3d3;  
}

#state {
  padding: 10px;
}

#up-left {
  background-color: #ff3333;
  border-radius: 200px 0 0 0;
}

#up-right {
  background-color: #3333ff;
  border-radius: 0 200px 0 0;
}

#down-left {
  background-color: #00CC33;
  border-radius: 0 0 0 200px;
}

#down-right {
  background-color: #efcc00;
  border-radius: 0 0 200px 0;
}

.lighten {  
  filter: brightness(250%);
}

.darken {
  filter: brightness(100%);
}

@media (max-height: 700px) {
  .container-circle {
    top: 65%;
  }
}